@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4735 Greenfield Way Dr.<br />
    Winston Salem, N.C. 27103<br />
    <abbr title="Phone">P:</abbr>
    336.287.8287
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ryanrandell@yahoo.com">ryanrandell@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bdavis@core-techs.net">bdavis@core-techs.net</a>
</address>